<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="title">
          <h1>  CalorieBuddy </h1>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Add Food</a></li>
            <li><a href="/">Search Food</a></li>
            <li><a href="/">Update Food</a></li>
            <li><a href="/">Delete Food</a></li>
            <li><a href="/">Foods List</a></li>
            <li><a href="/">Calorie Counter</a></li>
        </ul>
    </div>

</div>
</nav>
