<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="container">

<header>
  <%- include('partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>CalorieBuddy</h1>
        <li>To add food to the list, go to <a href="/">Add Food</a> page </li>
        <li>To see all food on the list, go to <a href="/">Foods List</a> page </li>
        <li>To search, update or delete food on the list, go to <a href="/">Search</a> page</li>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <p>This web app is for counting calories of food to help you to manage your diet!
          <br> This is mid-term project for Databses, Network, and the Web class
         <br> Developed by Hayato C. Ishida </p>
    </div>
</main>

<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>
