<!-- views/addfood.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="container">

<header>
  <%- include('partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h2>Add food</h2>
          <form method="POST" action="/topic7/mid-term/foodadded">
          <div class="form-group">
            <label>Food Name :</label>
            <input id="name" type="text" name="name" placeholder="food name" />
          </div>
          <div class="form-group">
            <label>Unit :</label>
            <input id="unit" type="number"　name="unit" placeholder="unit" />
          </div>
          <div class="form-group">
            <label>Calories : </label>
            <input id="calorie" type="number" name="calorie" placeholder="calorie"/>
          </div>
          <div class="form-group">
            <label>Carbonhydrates : </label>
            <input id="carbs" type="number" name="carbs" placeholder="carbs"/>
          </div>
          <div class="form-group">
            <label>Fat : </label>
            <input id="fat" type="number" name="fat" placeholder="fat"/>
          </div>
          <div class="form-group">
            <label>Protein : </label>
            <input id="protein" type="number" name="protein" placeholder="protein"/>
          </div>
          <div class="form-group">
            <label>Salt : </label>
            <input id="salt" type="number" name="salt" placeholder="salt"/>
          </div>
          <div class="form-group">
            <label>Sugar : </label>
            <input id="sugar" type="number" name="sugar" placeholder="sugar"/>
          </div>
          <input type="submit" value="OK" />
        </form>
    </div>
</main>

<footer>
  <%- include('partials/footer') %>
</footer>
</body>
</html>
