<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="container">

<header>
  <%- include('partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to CalorieBuddy</h1>
      <p>This web app is for counting calories of food to help you to manage your diet!</p>
      <p>For more detals, go to <a href="/about">About</a> page.</p>
    </div>
</main>

<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>
